*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.zoom{
    width: 100%;
    height: 140vh;
    overflow: hidden;
    position: relative;
    background-image: url(main.jpg);
    background-size:cover;
    &::before{
        content: "";
        width: 100%;
        height: 200px;
        bottom: 0;
        position: absolute;
        background:linear-gradient(transparent , #fff);
        z-index: 60;
    }
    >img{
        position: absolute;
        width: 100%;
    }
    #layer1{
         z-index: 10;
         left: 30%;
         transform: translateX(-50%);
         height: 100%;
    }
    #layer2{
         z-index: 9;
         right: 0;;
         transform: translateX(30%);
        //  height: 100%;
    }
    #layer3{
         z-index: 8;
         bottom: 0;
         transform: translateY(50%);
    }
}
p{
    font-size: 30px;
    padding: 30px;
    letter-spacing: 1.5px;
}